apiVersion: v1
kind: Service
metadata:
  name: uptime-kuma
  namespace: monitoring
spec:
  selector:
    app: uptime-kuma
  ports:
    - name: http
      port: 80
      targetPort: 3001
  type: LoadBalancer